/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav, ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 25px;
    opacity: 0.75;
    color: #95a5a6;
    transition: color 0.5s ease-out;
}

a:hover {
    opacity: 1;
    border-bottom: 1px solid #8c99e6;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Header styles */

header {
    background-color: #34495e;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: 1s headerFadeIn 0.5s forwards;
    opacity: 0;
    padding: 10px 5px;
}

@keyframes headerFadeIn {
    100% {
        opacity: 1;
    }
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul li {
    margin: 0 10px;
}

header h2 {
    margin: 0px;
    margin-left:30px;
}

header h2 a {
    border: none;
    font-size: 40px;
}

.furniture-menu {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.list-one, .list-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
}

.list-one {
    margin-top: 20px;
}

.list-one li, .list-two li {
    height: 300px;
    width: 300px;
    overflow: hidden;
    text-align: center;
}

ul li .furniture-photo {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    opacity: 0.8;
}

ul li:hover .furniture-photo {
    opacity: 1;   
}

@media screen and (max-width: 900px) {

    header {
        padding-top: 10px;
        flex-direction: column;
        text-align: center;
    }

    header h2 {
        margin: 0px;
        margin-bottom: 10px;
    }

    header ul {
        padding-bottom: 5px;
    }

    header ul li a {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    header ul {
        flex-direction: column;
    }

    header h2 {
       font-size: 30px;
       font-weight: bold;
    }

    header ul li a {
        font-size: 20px;
    }
}

/* Slogan Section */

.slogan {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin-bottom: 15px;
}

.slogan .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}

.slogan h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

.slogan p {
    font: 40px "Open Sans", sans-serif;
}

.slogan-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px) {

    .slogan {
        min-height: 600px;
    }

    .slogan h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }
}

/* Contact Section */

.contact {
    display: flex;
    padding: 0 5px;
}

.contact .grid {
    position: relative;
    bottom: 45px;
}

#info {
    position: relative;
    bottom: 53px;
}

.contact .grid h3 {
    align-items: baseline;
    font-size: 30px;
    margin: 10px 0;
}

.contact ul li h3 {
    align-items: baseline;
    font-size: 30px;
    margin: 10px 0;
}

.contact .grid li {
    flex-basis: 100%;
    padding: 2px;
    text-align: left;
}

.contact .grid i {
    color: #304ae0;
}

@media (max-width: 700px) {

    .contact {
        flex-direction: column;
        margin-top: 50px;
    }

    .contact ul {
        position: relative;
        bottom: 43px;
    }

    #info {
        top: 5px;
        margin-left: 27px;
    }

    #info h3 {
        position: relative;
        bottom: 47px;
        margin: 0;
    }

    #info ul li {
        padding-top: 5px;
    }

    .contact .grid li {
        flex-basis: 100%;
        flex-grow: 2;
    }
}

/* Footer section */

footer {
    position: flex;
    bottom: 0px;
    background-color: #34495e;
    padding: 20px 0;
    margin-top: 10px;
}

footer div {
    font-size: 15px;
    text-align: center;
}

/*Action style */

.action-btn {
    text-align: center;
}

.action-btn h5 {
    margin: 50px;
}

.sale-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sale-list li {
    margin-bottom: 10px;
}

.sale-list li img {
    height: 350px;
    width: 350px;
    border-radius: 10px;
    opacity: 0.7;
}

.sale-list li img:hover {
    opacity: 1;
}

.sale-list li h5 {
    text-decoration: line-through;
}

/* About styles */

#about-title {
    text-align: center;
    margin-bottom: 50px;
}

/* Contact Styles */

.contact-div {
    display: flex;
    flex-direction: column;
}

.contact-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

/* Furniture Styles */

.kids-room-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:40px;
}

.kids-room-list li {
    height: 300px;
    width: 300px;
    opacity: 0.9;
}

.kids-room-list li:hover {
    opacity: 1;
}